<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

<bean id="guitar" class="com.instruments.Guitar" ></bean>
<bean id="flute" class="com.instruments.Flute" ></bean>
<bean name="instrument" class="com.instruments.Drum" ></bean>
<bean id="singleband" class="com.performer.SingleBand" autowire="byName" ></bean>
<bean id="multiband" class="com.performer.MultiBand">
<property name="al">
<list>
<ref bean="guitar"></ref>
<ref bean="flute"></ref>
<ref bean="instrument"></ref>
</list>
</property>
</bean>
<bean id="advisor" class="com.advice.PerformAdviser"></bean>
<aop:config>
<aop:aspect ref="advisor">
<aop:pointcut expression="execution(* *.perform(..))" id="pc"/>
<aop:before method="takeSeats" pointcut-ref="pc"></aop:before>
<aop:before method="turnMobiles" pointcut-ref="pc"></aop:before>
<aop:after-returning method="applaud" pointcut-ref="pc"></aop:after-returning>
<aop:after-throwing method="moneyRefund" pointcut-ref="pc"></aop:after-throwing>
</aop:aspect>
</aop:config>

</beans>
